* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: orangered;
}
.flashcrads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.flashcrads .flashcard {
  width: 400px;
  height: 250px;
  padding: 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 19px;
}
